/****** General ***********/

* {
    font-family: "Raleway", sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
.fa-solid {
    color: var(--main-color);
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}
.custom-elements {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style: none;
}

/* LINKS NAV */
nav li {
    display: inline;
    margin-right: 50px;
    padding: 14px 0;
}

nav li:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

nav {
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO BOOKI */
#logo {
    width: 61.09px;
    height: 19px;
}

h1 {
    padding-top: 2rem;
    font-weight: 700;
    font-size: 22px;
}

.search-bar {
    margin-top: 2rem;
    display: flex;
}

/* MAP ICON */
.search-bar i {
    padding: 1.2rem;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
}

.search-bar .fa-solid {
    color: black;
}

/* TEXTE INPUT */
.search-bar input {
    font-weight: bold;
    padding: 0 4rem 0 1rem;
    border: 1px solid #f2f2f2;
}

.search-bar ::placeholder {
    font-size: larger;
}

.search-bar button {
    background-color: #0065fc;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065fc;
    padding-right: 2rem;
    color: white;
    font-size: medium;
    font-weight: bold;
    padding-left: 2rem;
    cursor: pointer;
}

.search-bar button:hover {
    opacity: 0.9;
}

/* FILTERS */

.filters {
    padding-top: 3rem;
    display: flex;
    align-items: center;
}

.filters button {
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    padding: 14px 20px 14px 20px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    border: 2px solid #f2f2f2;
}

.filters button:hover {
    background-color: var(--filter-bg-color);
}

.filters .fa-solid {
    margin-right: 14px;
}

/* INFOBAR */

.infobar i {
    border: 2px solid #f2f2f2;
    border-radius: 25px 25px 25px 25px;
}

.infobar {
    display: flex;
    align-items: baseline;
}

.infobar p {
    margin-left: 0.5rem;
}

/****** Hebergements et Populaires ***********/
.hebergements-et-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-et-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px 30px 15px 30px;
    box-sizing: border-box;
}

.neutral-star {
    color: var(--main-bg-color);
}

.euro {
    font-weight: 700;
}

/****** Hebergements a Marseille ***********/

.hebergements {
    width: 65%;
}

.Hebergements-title {
    padding-bottom: 33px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 5%;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 28%;
    cursor: pointer;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}

.hebergements .custom-elements {
    margin-top: 15px;
    margin-bottom: 0px;
}
.hebergements-cards .card-subtitle {
    margin: 5px 0 0 0;
}

.hebergements-cards .card-title {
    margin: 5px 0 0 0;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
}

.populaires-cards .card a {
    display: flex;
}

.populaires-cards .card {
    margin-top: 33px;
    cursor: pointer;
}

.populaires-cards img {
    width: 33%;
    height: 124px;
    border-radius: 20px 0px 0px 20px;
}

.populaires-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********** ACTIVITES A MARSEILLE **********/
.Activites-Marseille .section-title {
    margin-top: 70px;
}

.Activites-Marseille .card-title {
    padding-left: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
}

.Activites-Marseille .Activites-card {
    margin-top: 35px;
    gap: 25px;
    display: flex;
}
.Activites-card a {
    width: 25%;
}
.Activites-card a .card {
    padding: 0%;
}
.Activites-Marseille img {
    width: 100%;
    height: 28vw;
    border-radius: 20px 20px 0px 0px;
}

/************* FOOTER ***************/

.footer {
    background-color: var(--main-bg-color);
    margin-top: 80px;
    display: flex;
}
.footer-title {
    flex: 1;
    margin-top: 30px;
    margin-left: 30px;
    padding-bottom: 50px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .filters-li {
        padding-left: 0px;
    }

    .filters .custom-elements {
        margin-bottom: 0px;
    }

    .hebergements-et-populaires {
        flex-direction: column;
    }
    .hebergements-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 15px 4%;
    }
    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }
    nav li:hover {
        border-bottom: 2px solid #0065fc;
        border-top: hidden;
    }
    .nav-bar {
        display: flex;
        flex-direction: column;
    }
    .nav-bar nav {
        padding-left: 0;
    }

    .nav-bar nav ul {
        padding-left: 0;
    }
}
